*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(214, 214, 205);
}
.pp{
    text-align:center;
    color:red;
    font-size:12px;
}
nav{
    height: 40px;
    background-color: rgb(13, 67, 68);
    padding-top: 20px;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
}
div{
    background-color: white;
}
#logo{
    color: white;
    display:inline;
    padding-top: 20px;
    margin: 0px 0px 0px 70px;
    font-size: 20px;
    font-weight: lighter;
}
ul{
    margin-left: 35%; 
    display: inline;
}
ul a{
    display: inline;
}
ul li:hover{
    text-decoration: none;
    color: red;
}
ul p{
    display: inline;
    color: white;
    font-size: 20px;
}
ul li, li+p{
    list-style: none;
    display: inline;
    color: white;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 100;
}
#loginb{
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
#loginb a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
}
.main{
    width: 28%;
    height: 80%;
    position: absolute;
    margin-left: 35%;
    margin-top: 8%;
    border-radius: 10px;
}
#reg{
    color:rgb(13, 67, 68);
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}
form{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
form input{
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px  rgb(13, 67, 68) solid;
    margin-left: 15px;
}
::-webkit-input-placeholder {
    text-align: center;
  }
#underform{
    text-align: center;
}
#underform p, #underform a{
    font-size: 15px;
    display: inline;
    color:  rgb(13, 67, 68);
}
#underform a:hover{
    font-weight: bold;
}
    
.main button{
    background-color:rgb(13, 67, 68);
    width: 280px;
    height: 45px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
    color: white;
    border: none;
    font-size: bold;
    cursor: pointer;
}
button+p{
    text-align: center;
    margin-top: 10px;
}
 
    